<a id="navBar" href="/profile">Profile</a>
<a id="navBar" href="/locations/new/"> Add Location</a>
<a id="navBar" href="/">Home</a>

<hr />
<H3> Pick A Spot! </H3>

<div id =forEachBox>
<% locations.forEach(function(location){%>
    <div class = "wel"> 
        <h2> <a href="/locations/<%= location.id %>">
            <%= location.name %> 
        </a></h2>
    </div>
<% }) %> 
</div>

<body id="page"></body>


