<a href="/profile">Profile</a>
<a href="/locations/index">Location</a>

<a href="/">Home</a> 
<body id="page"></body>

<h1> Share a New Location!</h1>
<p> Example: Kerry Park, Seattle WA </p>

<form action = "/locations" method = "POST">
    <input type = "text" name = "name" placeholder = "Location Name">
    <input type = "submit" value = "Add"> 
</form>

