<h1>  <%= location.name %> </h1>

<a href = "/locations/<%= location.id %>/edit"> Edit - </a>
<a href="/posts/new"> Upload - </a>
<a href = "/locations/index"> Locations - </a>
<a href = ""> Add To Profile - </a>
<a href = "/"> Home </a>
<hr/>

<h2> Gallery </h2>

<div id = "unsplashBox">     



</div>
