<a id="navBar" href="/auth/login">Login</a> 
<a id="navBar" href="/auth/signup">Signup</a>  
<a id="navBar" href="/auth/logout">Logout</a>  
<a id="navBar" href="/profile">Profile</a>  
<a id="navBar" href = "/locations/"> Locations </a>


<body id="page"></body>

<h3 id="exposureAbout"> What Is Xposure </h1>

    <p>
        Xposure was created on the basis of photographers looking for inspiration in foreign territories, whether that be outside in a different city or on vacation in a different country. Being able to have a source for high quality photos on the ready is crucial for keeping your inspiration and creativity in harmony. Many times I would be looking for inspiration and scroll Instagram for photos that people post, however; the resolution of the photos would be sub par and many of the photos would be reposted and ultimately would dilute my eye on a particular location. 
        Xposure queries the high resolution pictures of the Unplash API and delivers them in an efficient and unique way, so creatives can quickly grab their inspiration and go shoot. 
    </p>