<a id="navBar" href="/auth/login">Login</a> 
<a id="navBar" href="/auth/signup">Signup</a>  
<a id="navBar" href="/auth/logout">Logout</a>  
<a id="navBar" href="/profile">Profile</a>  
<a id="navBar" href = "/locations/"> Locations </a>


<body id="page"></body>

<h1 id="exposureAbout"> Exposure </h1>

<p> 
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore hic, molestiae excepturi ipsum sequi dolorem qui incidunt delectus iure eum omnis iste officiis minus aspernatur? Magnam ad saepe quas minima.
</p>