
<a class ="navLinks" href  ="/">Home</a>
<a class ="navLinks" href  = "/images">Images</a>
<a class ="navLinks" href  ="/locations/index"> Locations </a>
<h1 id="welcome"> Welcome! </h1> 

<h2 id="profilePage">Profile Page</h2>

<h1 id ="random"> this is where your spots go</h1>


<body id="page"></body>
















