
<a class ="navLinks" href  ="/">Home</a>
<a class ="navLinks" href  = "/images">Images</a>
<a class ="navLinks" href  ="/locations/index"> Locations </a>
<h1 id="Welcome"> Welcome! </h1> 

<h2 id="profilePage">Profile Page</h2>





<h1> this is wear your spots go</h1>