
<a class ="navBar" href ="/">Home</a>
<a class ="navBar" href ="/locations/"> Locations </a>
<a class ="navBar" href ="/upload/show">Your Photos</a>
<hr />

<h1 id="welcome"> Welcome To Your Profile! </h1> 
<p id="inspire"> Your Favorite Locations</p>




<% locations.forEach(function(location){ %> 
<% console.log(location) %> 
    <div class = "wel"> 
            <h2> <a href="/locations/<%= location.id %> ">
                <%= location.name %> 
            </a></h2>
        </div>


<% }) %> 






<body id="page"></body>
















