
<a class ="navLinks" href  ="/">Home</a>
<a class ="navLinks" href  = "/upload">Upload</a>
<a class ="navLinks" href  ="/locations/location"> Locations </a>

<h2>Profile Page</h2>



<h1> Welcome! </h1> 