
<a class ="navLinks" href  ="/">Home</a>
<a class ="navLinks" href  = "/images">Images</a>
<a class ="navLinks" href  ="/locations/"> Locations </a>
<h1 id="welcome"> Welcome To Your Profile! </h1> 
<p id="inspire"> Add a Location!</p>




<% locations.forEach(function(location){ %> 
<% console.log(location) %> 
    <div class = "wel"> 
            <h2> <a href="/locations/<%= location.id %> ">
                <%= location.name %> 
            </a></h2>
        </div>


<% }) %> 






<body id="page"></body>
















