<a id="navBar" href="/profile">Profile</a> 
<a id="navBar" href="/locations/">Location</a> 
<a class ="navBar" href ="/upload/show">Your Photos</a> 

<h1 id="newUpload"> Upload and Share! </h1>

<form enctype="multipart/form-data" method="POST" action="/">
    <input type= "file" name= "myFile"> 
    <input type= "submit" class= "btn btn-primary"> 
</form> 




<body id="page"></body>
