<a id="navBar" href="/profile">Profile</a> 
<a id="navBar" href="/locations/">Location</a> 
<a class ="navBar" href ="/upload/new">Upload</a> 
<a class ="navBar" href  ="/">Home</a>
<body id="page"></body>

<h1 id="yourPhotos"> Your Photos </h1>

<div id="showBox">

<h1 >IMAGES GO HERE </h1>

</div>



